/* //////////////////// */
/* intro                */
/* //////////////////// */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
  
:root {
    --white: #FFFCF4;
    --black: #262625;
    --action: #F36A63;
    --accent: #9cbd60;

    --gray: #afb0ac;
    --dark-gray: #656663;

    --dim: #748FA2;
    --dim-hover: #94C7EC;

    --yellow: #FFC214;
    --postit: #FFFEFB;

    /* trying with actual white */
    --white: white;
    --postit: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: var(--black);
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

hr {
    width: 25%;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 40px;
    justify-content: center;
    border: 0.5px solid var(--gray);
}

.header {
    /*position: fixed;
    top: 0px;
    */
    margin: 24px 48px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 24px 72px;
}

.first-container {
    margin-top: 96px;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    padding: 48px 0px;
    padding-bottom: 0px;
}

.spacer {
    height: 96px;
}

.spacer-small {
    height: 24px;
}

/* //////////////////// */
/* header               */
/* //////////////////// */
.circle-icon {
    position: fixed;
    top: 0px;
    left: 48px;
    width: 160px;
    height: 160px;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
}

.subtitles {
    /* position: fixed;
    right: 48px; */
    display: flex;
}

.subtitles a {
    color: var(--black);
    font-weight: light;
    font-size: 16px;
    margin-right: 24px;
    margin-left: 48px;
    margin-top: 32px;
}

/* //////////////////// */
/* footer               */
/* //////////////////// */
.footer {
    background-color: var(--black);
}

.footer hr {
    margin-left: 72px;
    border: 0.5px solid var(--dark-gray);
}

.footer .container {
    padding-bottom: 48px;
}

.footer .grid-container {
    padding: 48px 0px;
}

.footer .title {
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    margin: 8px 0px;
}

.footer .paragraph-dim {
    color: var(--dim);
    font-size: 12px;
    margin: 4px 0px;
}

.footer .paragraph-dim:hover {
    color: var(--dim-hover);
}

#copyright-container {
    padding-bottom: 24px;
}

#copyright {
    font-size: 12px;
    color: var(--white);
    text-align: right;
}

/* //////////////////// */
/* title page           */
/* //////////////////// */
.big-text-container {
    display: flex;
}

.container-left {
    flex: 2;
    height: 576px;
}

.container-right {
    flex: 1;
}

.container-left .big-textbox {
    padding: 96px 192px;
}

#greeting {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0;
}

#name {
    font-size: 40px;
    margin-top: 0px;
}

#tagline {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 32px;
    height: 48px;
}

#intro {
    font-size: 18px;
}

/* //////////////////// */
/* grids                */
/* //////////////////// */
.section {
    background-image: url('../images/bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0px;

    scroll-behavior: smooth;    /* doesn't seem browser-compatible... ahh well */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: space-between;
    margin: 48px 72px;
    gap: 24px;
}

.grid-tile {
    border-radius: 8px;
    aspect-ratio: 3/4;
    text-align: center;
    background-color: var(--black);

    transition-property: color, border, background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.grid-tile:hover {
    color: var(--black);
    text-decoration: none;
    border: 2px solid var(--black);
    background-color: var(--postit);
    box-shadow: inset 8px 8px 0px 0px var(--black), 8px 8px 0px 0px var(--postit);
    cursor: pointer;
}

.grid-tile:hover #project-title, 
.grid-tile:hover #project-desc {
    color: var(--black);
}

.grid-tile:hover #tag {
    color: var(--postit);
    background-color: var(--black);
}

.footer .grid-container {
    margin: 0px 72px;
    padding-top: 24px;
}

.textbox {
    padding: 24px;
}

.img {
    height: 104px;
    margin: 16px;
    margin-bottom: 0px;
}

#tags {
    grid-template-columns: repeat(3, auto);
    justify-content: left;
    margin: 16px;
    gap: 8px;
    width: 208px;
}

#tag {
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    color: var(--black);
    aspect-ratio: auto;
    padding: 4px 12px;
    background-color: var(--accent);
}

#tag:hover {
    border: none;
    box-shadow: none;
    background-color: var(--black);
}

/* //////////////////// */
/* text & bottons       */
/* //////////////////// */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
}

.unbold {
    font-weight: 300;
}

.right {
    text-align: right;
}

.white-text {
    color: var(--white);
}

.grid-tile:hover .white-text {
    color: var(--black);
}

#project-title {
    margin-top: 0px;
    font-size: 24px;
    color: var(--white);
}

#project-desc {
    font-size: 14px;
    color: var(--white);
}

.button {
    font-size: 18px;
    font-weight: bold;
    color: var(--white);

    padding: 12px 24px;
    background-color: var(--action);
    background-image: linear-gradient(to bottom, var(--action), #FF3C6B);

    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.text-button {
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.text-button:hover {
    color: var(--yellow);
    cursor: pointer;
}

#curr-page {
    color: var(--accent);
}

embed {
    height: 240px;
    border-radius: 16px;
    box-shadow: 0 0 0;
    margin-top: 24px;
}

#primary-button {
    margin-top: 0px;
    margin-right: 24px;
    margin-bottom: 0px;

    transition-property: color, border, background-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#primary-button:hover {
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--yellow);
    background-image: linear-gradient(to bottom, var(--yellow), #FF912C);
    box-shadow: inset 8px 8px 0px 0px var(--white), 8px 8px 0px 0px var(--yellow);
    cursor: pointer;
}

#des, #dev {
    color: var(--accent);
}

#tarot {
    font-weight: 300;
}

#about-container {
    flex-direction: row;
    align-items: center;
}

#about-container .about-left {
    width: 240px;
    margin-right: 96px;
}

/*#about-container .about-right {
    flex: 1;
}*/

#yawen-image {
    width: 240px;
    height: 240px;
    margin: auto;
    border-radius: 120px;

    background-image: url('../images/yawenx.jpeg');
    background-size: cover;
    background-position: center;

    transition: background-image 2s ease;
}

#weather {
    background-color: var(--white);
    padding: 0;
    margin: 0;
}

#weather img {
    padding: 0px;
}

#weather .title {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    margin: 8px 0px;
}

#weather .paragraph {
    color: var(--black);
    font-size: 12px;
    padding: 0;
    margin: 4px 0px;
}

/* //////////////////// */
/* form                 */
/* //////////////////// */
/* for medium screens */
#text {
    width: 100%;
    height: 120px;
    max-width: 100%;
    resize: vertical;
}

label {
    font-size: 12px;
    font-weight: normal;
}

/* //////////////////// */
/* responsive design    */
/* //////////////////// */

/* for medium screens */
@media (min-width: 900px) and (max-width: 1199px) {
    .container-left .big-textbox {
        padding: 96px 120px;
        height: 576px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 240px);
    }
}

/* for small screens */
@media (min-width: 767px) and (max-width: 899px) {
    .container-left .big-textbox {
        padding: 96px 120px;
        height: 576px;
    }

    .container-left {
        flex: 3;
    }
    
    .container-right {
        flex: 1;
    }

    .subtitles a {
        margin-left: 24px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 240px);
    }
}

/* for very small screens */
@media (min-width: 676px) and (max-width: 766px) {
    .circle-icon {
        display: none;
    }

    .subtitles a {
        margin-left: 24px;
    }

    .big-text-container {
        flex-direction: column;
    }

    .container-left .big-textbox {
        padding: 60px 72px;
        height: 576px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 240px);
        justify-content: space-between;
    }

    #about-container {
        flex-direction: column;
    }

    #about-container .about-left {
        margin-right: 0px;
        margin-bottom: 48px;
    }
}

/* for very very small screens */
@media (max-width: 675px) {
    .circle-icon {
        display: none;
    }

    .subtitles a {
        margin-left: 24px;
    }

    .big-text-container {
        flex-direction: column;
    }

    .container-left .big-textbox {
        padding: 60px 72px;
        height: 576px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 240px);
        justify-content: center;
    }

    .footer .grid-container {
        grid-template-columns: repeat(1, 240px);
        justify-content: left;
    }

    #about-container {
        flex-direction: column;
    }

    #about-container .about-left {
        margin-right: 0px;
        margin-bottom: 48px;
    }

    #copyright {
        text-align: left;
    }

    #weather {
        justify-content: left;
    }
}

/* for mobile */
@media (max-width: 1200px) and (orientation: portrait) and (pointer: coarse) {
    embed {
        display: none;
    }

    .circle-icon {
        display: none;
    }

    .subtitles a {
        margin-left: 24px;
    }

    .big-text-container {
        flex-direction: column;
    }

    .container-left .big-textbox {
        padding: 60px 96px;
        height: 720px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 560px);
        justify-content: center;
    }

    .grid-tile {
        border-radius: 40px;
        padding: 24px 40px;
        aspect-ratio: 1;
    }

    .footer .grid-container {
        grid-template-columns: repeat(1, 560px);
        justify-content: left;
        gap: 48px;
    }

    .footer .grid-tile {
        margin-bottom: 24px;
        background-color: lightblue;
    }

    #about-container {
        flex-direction: column;
    }

    #about-container .about-left {
        margin-right: 0px;
        margin-bottom: 48px;
    }

    #copyright {
        text-align: left;
    }

    #weather {
        justify-content: left;
    }

    /* we need to make things bigger */
    .title {
        font-size: 2.5em;
    }

    .paragraph,
    .subtitles a {
        font-size: 1.5em;
    }

    #greeting,
    #intro {
        font-size: 2em;
    }
    
    #name {
        font-size: 3.5em;
    }
    
    #tagline {
        font-size: 2.5em;
        height: 96px;
    }

    .footer .title {
        font-size: 2em;
    }
    
    .footer .grid-container {
        display: none;
    }

    .footer hr {
        display: none;
    }

    .footer .paragraph-dim {
        font-size: 1.5em;
    }

    #tag {
        font-size: 1.5em;
        padding: 16px 24px;
        border-radius: 24px;
    }

    #project-title {
        font-size: 2.5em;
    }
    
    #project-desc {
        font-size: 1.5em;
    }
    
    .button {
        font-size: 1.5em;
        border-radius: 48px;
        padding: 24px 32px;
    }

    #weather .title {
        font-size: 2em;
    }
    
    #weather .paragraph {
        font-size: 1.5em;
    }

    #copyright {
        font-size: 1.5em;
        color: var(--white);
    }

    #about-container .about-left {
        width: 480px;
        height: 480px;
    }

    #yawen-image {
        width: 480px;
        height: 480px;
        border-radius: 480px;
        justify-content: center;
    }

    /* blog form NEEDS to be bigger */
    label {
        font-size: 24px;
        padding-bottom: 16px;
    }

    input, textarea {
        width: 100%;
        font-size: 24px;
        margin: 16px 0px;
        padding: 8px;
        margin-top: 8px;
    }

    #date {
        width: auto;
    }
}